.change{
    width: 80%;
    margin: 0 auto;
}
.change p {
    font-weight: bold;
    color: rgb(1, 123, 153);
    cursor: pointer;
}
.change__input {
    margin-bottom: 15px;
}
@media screen and (max-width: 700px) {
    .changepassword__editLayout{
        display: none;
    }
}