.signup__wrapper {
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor);
    }
    .signup{
        width: 400px;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .signup__createAccount{
        font-weight: bold;
    }
    .signup__container {
        padding: 0 20px 20px 20px;
    }
    .signup__login {
        padding: 10px;
    } 
    
    
    @media screen and (max-width: 500px) {
        .signup {
            width: 100%;
            padding-top: 0;
        }
        .signup__container {
            padding: 10px 0;
        }
    }